
<div class="d-flex justify-content-center align-items-center">

  <% if @user.image.attached? %>
    <div class="m-4">
      <%= image_tag(@user.image, class: 'rounded-circle', size: 200) %>
    </div>
  <% else %>
    <div class="col-md-4">
      <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png" class="rounded-circle-avatar" alt="Avatar">
    </div>
  <% end%>

  <div class='my-5'>
    <%= form_for @user, :url => {:controller => 'users', :action => 'update'} do |f| %>
    <div class='ace-logo'>
      <h1>Edit your profile <strong><%= @user.fname %></h1></strong>
    </div>
      <div class='row card-body'>
        <div class='my-2'>
          <%= f.label 'First Name' %>
          <%= f.text_field :fname %> <br />

          <%= f.label 'Last Name' %>
          <%= f.text_field :lname %> <br />

          <%= f.label :email %>
          <%= f.text_field :email %> <br />

          <%= f.label :image %>
          <%= f.file_field :image %> <br />

          <%= f.label :password %>
          <%= f.password_field :password %> <br />

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %> <br />

          <%= f.submit "Update Profile", class: 'btn btn-primary ace-blue' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
