
<div class="d-flex justify-content-center align-items-center">

  <% if @user.image.attached? %>
    <div class="m-4">
      <%= image_tag(@user.image, class: 'rounded-circle', size: 200) %>
    </div>
  <% else %>
    <div class="col-md-4">
      <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png" class="rounded-circle-avatar" alt="Avatar">
    </div>
  <% end%>

  <div class='my-5'>
   
    <div class='ace-logo'>
      <h2>Welcome <strong><%= @user.fname %></h2></strong>
    </div>
    <div>
    <ul>
      <li>
        <%= @user.fname %>
      </li>
      <li>
        <%= @user.lname %>
      </li>
      <li>
        <%= @user.email %>
      </li>
    </ul>
    </div>
    <% if @user.id == session[:user_id] %>
      <%= link_to 'Edit Profile', "/users/#{session[:user_id]}/edit", class: 'btn btn-primary' %>
      <%= link_to 'Delete Account', '/', method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: 'btn btn-danger'%>
    <% else %>
      <% if Friend.find_by(user_id: session[:user_id], friend_id: @user.id) %>
        <%= button_to 'Remove Friend', {:controller => :friends,
            :action => 'destroy', :friend_id => @user.id }, :method => :delete, class: 'btn btn-sm btn-primary' %>
      <% else %>
        <%= button_to 'Add Friend', {:controller => :friends,
            :action => 'create', :friend_id => @user.id }, :method => :post, class: 'btn btn-sm btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="d-flex justify-content-center align-items-center">
  <h2>Your Friends<h2>
  <ul>
    <% @user.friends.each do |friend_record| %>
      <% if friend_record %>
      <li>
        <%= "#{friend_record.friend.fname} #{friend_record.friend.lname}" %>
      </li>
      <% else %>
        <h2>You have no firends added</h2>
      <% end %>
    <% end %>
  </ul>
</div>