<nav class='navbar ace-blue text-white'>
  <div class='right menu ml-5'>
     <a href="#" class="navbar-brand logo text-white ace-logo">acebook</a>
  </div>
  <div class='navbar mr-5'>
    <% if session[:user_id] %>
      <div class='col'>
        <%= link_to 'All Posts', '/posts', class: 'btn btn-sm btn-light' %>
        <%= link_to 'Profile', "/users/#{session[:user_id]}", class: 'btn btn-sm btn-light' %>
        <%= link_to 'Sign Out', '/sessions/destroy', class: 'btn btn-sm btn-light' %>
      </div>
    <% else %>
      <div class='row'>
        <% if current_page? '/sessions/new' %>
          <%= link_to 'Sign Out', '/sessions/destroy', class: 'btn btn-sm btn-light' %>
        <% else %>
          <%= link_to 'Sign In', '/sessions/new', class: 'btn btn-sm btn-light' %>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
